<div class="card">
  <div class="card--head">
    <div class="icon">
      <img class="card_image" src="/assets/figma.png" alt="" />
    </div>
    <div class="car--head-header">
      <h2>Figma</h2>
      <p>USA</p>
    </div>
  </div>
  <div class="card--body">
    <h1>Senior Product Engineer</h1>
    <p>
      Lead the development of innovative product solutions, leveraging your
      expertise in engineering and product management to drive success.
    </p>
    <div class="card--footer">
      <p class="info">12 Position</p>
      <p class="info">Full Time</p>
      <p class="info">$35,000/year</p>
    </div>
  </div>
</div>
