<div class="nav--bar">
  <div class="logo">
    <div>
      <a href="/">
        <h1>Job<span>Hunt</span></h1>
      </a>
    </div>
    <div id="icon">
      <i id="icon-color" class="fa-solid fa-bars fa-2xl"></i>
    </div>
  </div>
  <div class="nav--link" id="myDiv">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Servicec</a></li>
      <li><a href="#">Client</a></li>
    </ul>
    <button class="btn">Register</button>
  </div>
</div>
